@import "./variables";

@keyframes scale-in {
	0% {
		transform: scale(0);
		opacity: 1;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}


.techstack {
  position: relative;
  height: 100vh;
  width: 100vw;
  align-items: center;
}


.threeexp {
  height: 100vh;
  margin-top: 0px;
  width: 100vw;
  align-items: center;
}


.miniball {
  position: absolute;
  width: 2px;
  height: 2px;
  border-radius: 80%;
  background-color: #fff;
  box-shadow:
    0 0 15px 5px #fff,  /* inner white */
    0 0 20px 10px rgb(0, 119, 255), /* middle magenta */
    0 0 30px 20px rgb(33, 76, 248); /* outer cyan */
  filter: blur(2px);
  // offset-path: path("M -189 -8 S -31 -220 181 -7");
  offset-path: path("M -142 -4 S 2 -255 217 1 S 214 289 -1 122");
  z-index: 5;
}


.ball {
  position: absolute;
  margin-bottom: 50vh;
  width: 5px;
  height: 5px;
  border-radius: 80%;
  background-color: #fff;
  box-shadow:
    0 0 20px 8px #fff,
    0 0 30px 8px rgb(101, 35, 255),
    0 0 40px 30px rgb(33, 76, 248);
  filter: blur(3.5px);
  z-index: 5;
  offset-path: path("M -140 -40 S 59 -331 433 -88");
  animation-iteration-count: infinite;
}


.definitions {
  font-size: 20px;
}


.play-intro-container {
  position: absolute;
  justify-content: center;
  align-items: center;
  text-align: center;
}

$n: 25;
// $bgColor: rgb(204,207,209);
$bgColor: var(--background-primary);
$mountainColor: var(--accent);
$animLength: 9;
$mountainHeight: 10%; /* In percent */
$start_scale: 0.4;

.play-container {
  position: absolute;
  width: 100%;
  height: 0;
  padding-top: 100%;
  overflow: hidden;
  perspective: 800px;
  &::after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    background: $bgColor;
    opacity: 0.7;
    z-index:10;
  }
}
.mountain {
  filter: blur(2.5px);
  background-color: $mountainColor;
  width: $mountainHeight;
  height: $mountainHeight;
  position: absolute;
  top: 50% - $mountainHeight / 2;  
  &:nth-of-type(even) {
    right: 0;
  }
  &::before {
    content: '';
    width: 102%;
    height: 102%;
    position: absolute;
    left: -1%;
    top: -1%;
    background: $bgColor;
    animation: opacity ($animLength + s) linear infinite;
    animation-delay: inherit;
  }
}

@for $i from 1 to $n {
  .mountain:nth-of-type(#{$i}) {
    animation: mountain#{($i % 6) + 1} ($animLength + s) (-$i / ($n - 3) * $animLength)+s linear infinite;
  }
}


@keyframes mountain1 {
  0% { transform: rotate(45deg) translate3d(-130%, 130%, -300px) scale($start_scale); }
  100% { transform: rotate(45deg) translate3d(100%, -100%, 0) scale(1); }
}
@keyframes mountain2 {
  0% { transform: rotate(45deg) translate3d(120%, -120%, -300px) scale($start_scale); }
  100% { transform: rotate(45deg) translate3d(-100%, 100%, 0) scale(1); }
}
@keyframes mountain3 {
  0% { transform: rotate(45deg) translate3d(-110%, 110%, -300px) scale($start_scale); }
  100% { transform: rotate(45deg) translate3d(100%, -100%, 0) scale(1); }
}
@keyframes mountain4 {
  0% { transform: rotate(45deg) translate3d(110%, -110%, -300px) scale($start_scale); }
  100% { transform: rotate(45deg) translate3d(-100%, 100%, 0) scale(1); }
}
@keyframes mountain5 {
  0% { transform: rotate(45deg) translate3d(-150%, 150%, -300px) scale($start_scale); }
  100% { transform: rotate(45deg) translate3d(100%, -100%, 0) scale(1); }
}
@keyframes mountain6 {
  0% { transform: rotate(45deg) translate3d(150%, -150%, -300px) scale($start_scale); }
  100% { transform: rotate(45deg) translate3d(-100%, 100%, 0) scale(1); }
}

@keyframes opacity { 
  90%, 100% { opacity: 0.35; } 
}