@import "./animations";
@import "./mixins";
@import "./variables";
@import "./overrides";

#root {
  cursor: url("data:image/svg+xml,%3Csvg version='1.1' class='drop' id='normal_cursor' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='45px' height='45px' viewBox='0 0 512 512' style='color: blue;' xml:space='preserve'%3E %3Cpath d='M 0 0 L 55 170 A 1 1 0 0 0 168 62 L 0 0' stroke='blue' stroke-width='2px' fill='rgb(204,222,254)' /%3E %3C/svg%3E"),
    pointer;
  body {
    overflow: hidden;
    min-height: 100%;
  }
  #introduction {
    flex-direction: column;
    height: 100vh;
    min-height: 800px;
    .introduction-container {
      .content {
        margin: 3rem auto 2rem auto;
        .title {
          color: var(--foreground-primary);
        }
      }
    }
  }
  .name-description {
    font-size: 20px;
    white-space: pre-wrap;
  }

  #about {
    .about-container {
      width: 80vw;
      display: block;
      align-items: center;
      justify-content: center;
      .about-description {
        color: var(--foreground-primary);
        font-size: 18px;
        font-weight: normal;
        white-space: pre-wrap;
        text-align: justify;
      }

      .tech-stack {
        span,
        img,
        svg,
        i {
          display: inline-block;
          vertical-align: middle;
        }

        svg,
        i {
          width: 30px;
          height: 36px;
          padding: 4px;

          display: inline-block;
          vertical-align: middle;
        }
        svg *,
        i * {
          width: 30px;
          height: 36px;
        }
      }
    }
  }

  #projects {
    background-color: var(--background-primary);
    // padding: 6rem 1.5rem;
    // transform: skewY(2deg);
    .projects-container {
      display: flex;
      flex-direction: column;
      // transform: skewY(-2deg);
      min-height: 30vh;
      h1 {
        color: inherit !important;
        font-size: 36px;
        font-weight: bold;
        align-items: center;
        margin-bottom: 1rem;
      }
      h2 {
        color: inherit !important;
        font-size: 24px;
        font-weight: bold;

        align-items: center;
        margin-bottom: 1rem;
      }
    }

    .project-sections {
      display: flex;
      overflow-x: scroll;
      overflow-y: hidden;
      gap: 5rem;
      padding: 1.5em 0 1.5em 0;
    }
    .snaps {
      scroll-snap-type: x mandatory;
    }
    .snaps > * {
      scroll-snap-align: start;
    }
    .project-sections::-webkit-scrollbar {
      display: block !important;
      width: 5px;
    }
    .project-sections::-webkit-scrollbar-track {
      background: var(--background-secondary-alt);
    }
    .project-sections::-webkit-scrollbar-thumb {
      background: var(--lighter);
      border-radius: 8px;
    }
    .project-sections::-webkit-scrollbar-thumb:hover {
      background: white;
    }

    .project-card {
      background-color: var(--background-secondary);
      border: 1px solid var(--background-secondary-alt); //#aaa;
      border-radius: 12px;
      padding: 16px;
      margin: 1em 2em 1em 2em;
      text-align: left;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      transition: transform 0.2s ease, box-shadow 0.2s ease;
      min-width: 85vw;
      // min-height: 70vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .project-card.expanded {
      min-height: 200px;
    }

    .project-content {
      display: flex;
      align-items: flex-start;
      gap: 16px;
      flex-grow: 1;
    }

    .project-image {
      flex-shrink: 0;
      width: 80vw;
      max-width: 100%;
      transition: all 0.7s ease;
      aspect-ratio: 16 / 9;
      object-fit: cover;
      margin: 0;
      border-radius: 10px;
      cursor: pointer;
    }

    .project-card:hover {
      border: 1px solid var(--background-secondary-altlight);
      // transform: translateY(-2px);
      // box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
    }

    .project-name {
      font-size: 1.2em;
      margin-bottom: 12px;
      color: var(--lighter);
      font-weight: bold;
    }

    .project-card.expanded .project-image {
      width: 70%;
    }

    .project-description {
      flex: 1;
      opacity: 0;
      transition: opacity 0.5s ease;
    }

    .project-stack {
      flex: 1;
      opacity: 1;
      transition: opacity 0.5s ease;
    }

    .project-card.expanded .project-description {
      opacity: 1;
    }
    .project-card.expanded .project-stack {
      opacity: 1;
    }

    .project-buttons {
      display: flex;
      justify-content: left;
      gap: 1em;
      margin-top: 16px;
      margin-bottom: 0;
    }

    .button {
      text-decoration: none;
      padding: 8px 16px;
      font-size: 1em;
      border-radius: 4px;
      color: white;
      background-color: #007bff;
      transition: background-color 0.2s ease;
    }

    // .button:hover {
    //   background-color: #0056b3;
    // }

    .github-button {
      background-color: #6c757d;
    }

    .github-button:hover {
      background-color: #5a6268;
    }

    .demo-button {
      background-color: #28a745;
    }

    .demo-button:hover {
      background-color: #218838;
    }
  }

  #blogging {
    background-color: var(--background-primary);
    padding: 8rem 1rem;

    .blogging-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h1 {
        color: var(--foreground-primary);
        font-size: 36px;
        font-weight: bold;

        align-items: center;
        margin-bottom: 1rem;
      }
    }
  }

  .nomatch {
    background-color: var(--background-primary) !important;
    padding: 6rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
      color: #6fb0fbc4 !important;
      font-size: 36px;
      font-weight: bold;

      align-items: center;
      margin-bottom: 1rem;
    }
  }

  .playback {
    position: inherit;
    background-color: var(--background-primary) !important;
    height: 100vh;
    margin-top: 0;

    // padding: 6rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      font-size: 32px;
      font-weight: bold;
      align-items: center;
      margin-bottom: 0;
    }
    h2 {
      font-size: 30px;
      font-weight: bold;
      align-items: center;
      margin-bottom: 1rem;
    }
    #dark h1 {
      color: #083d79 !important;
    }
    #light h1 {
      color: #0049f4 !important;
    }
    #dark h2 {
      color: #15447a !important;
    }
    #light h2 {
      color: #0049f4 !important;
    }
  }
}

:root::-webkit-scrollbar {
  display: none;
}
