@import "./animations";
@import "./mixins";
@import "./overrides";
@import "./variables";

#root {
	#introduction {
		flex-direction: unset;
		.introduction-container {
			.content {
				margin: 3rem auto 2rem auto;

				.title {
					color: var(--foreground-primary);
				}
			}
		}
	}
	.name-description {
		font-size: 20px;
		white-space: pre-wrap;
	}

	#about {
		.about-container {
			width: 80vw;
			align-items: center;
			.about-description {
				color: var(--foreground-primary);
				font-size: 18px;
				font-weight: normal;
				white-space: pre-wrap;
				text-align: justify;
			}

			.tech-stack {
				span,
				svg,
				i {
					display: inline-block;
					vertical-align: middle;
				}

				svg,
				i {
					width: 36px;
					height: 36px;
					padding: 4px;

					display: inline-block;
					vertical-align: middle;
				}
				svg *,
				i * {
					width: 36px;
					height: 36px;
				}
			}

			.columns {
				padding: 5px 0px 5px 0px;
				h6 {
					color: var(--accent);
					text-align: center;
				}

				.column {
					@include breakpoint(extra_small_devices) {
						text-align: center;
					}
				}
			}

			h1 {
				color: inherit !important;
				font-size: 36px !important;
				border-bottom: var(--accent) solid 4px;
				display: inline-block;
			}
		}
	}

	#projects {
		background-color: var(--background-secondary);
		// padding: 6rem 1.5rem;
		transform: skewY(3deg);

		.projects-container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			transform: skewY(-3deg);

			h1 {
				color: inherit !important;
				font-size: 36px;
				font-weight: bold;

				align-items: center;
				margin-bottom: 1rem;
			}
			h2 {
				color: inherit !important;
				font-size: 24px;
				font-weight: bold;

				align-items: center;
				margin-bottom: 1rem;
			}
		}
	}

	#blogging {
		background-color: var(--background-secondary-alt);
		padding: 6rem 1.5rem;

		.blogging-container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			h1 {
				color: inherit !important;
				font-size: 36px;
				font-weight: bold;

				align-items: center;
				margin-bottom: 1rem;
			}
		}
	}

	.nomatch {
		background-color: var(--background-secondary-alt) !important;

		// padding: 6rem 1.5rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		h2 {
			color: #6fb0fbc4 !important;
			font-size: 36px;
			font-weight: bold;

			align-items: center;
			margin-bottom: 1rem;
		}
	}

	.playback {
		background-color: var(--background-secondary-alt) !important;
		height: 800px;
		// padding: 6rem 1.5rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		h1 {
			color: #d0e3f9c4 !important;
			font-size: 34px;
			font-weight: bold;
			align-items: center;
			margin-bottom: 1rem;
			z-index: 0;
		}
		h2 {
			color: #d0e3f9c4 !important;
			font-size: 30px;
			font-weight: bold;
			
			align-items: center;
			margin-bottom: 1rem;
		}
	}
	
}
